.edit-btn{
    background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);

}

.sticky-element {
    position: sticky;
    top: 0; /* Position from the top edge */
    /* Additional styles */
  }

  .shadows{

    box-shadow: 0px 2px 8px 0px #00000029;
    
  }
  